@font-face { font-style:normal; font-weight:normal; font-family:fnt0; src:url("./ch10_1_fnt0.otf") format("opentype"); }
@font-face { font-style:normal; font-weight:normal; font-family:fnt7; src:url("./ch10_1_fnt7.otf") format("opentype"); }
@font-face { font-style:normal; font-weight:normal; font-family:fnt2; src:url("./ch10_1_fnt2.otf") format("opentype"); }
@font-face { font-style:normal; font-weight:normal; font-family:fnt9; src:url("./ch10_1_fnt9.otf") format("opentype"); }
@font-face { font-style:normal; font-weight:normal; font-family:fnt10; src:url("./ch10_1_fnt10.otf") format("opentype"); }
@font-face { font-style:normal; font-weight:normal; font-family:fnt5; src:url("./ch10_1_fnt5.otf") format("opentype"); }
@font-face { font-style:normal; font-weight:normal; font-family:fnt4; src:url("./ch10_1_fnt4.otf") format("opentype"); }
@font-face { font-style:normal; font-weight:normal; font-family:fnt8; src:url("./ch10_1_fnt8.otf") format("opentype"); }
@font-face { font-style:normal; font-weight:normal; font-family:fnt6; src:url("./ch10_1_fnt6.otf") format("opentype"); }
@font-face { font-style:normal; font-weight:normal; font-family:fnt3; src:url("./ch10_1_fnt3.otf") format("opentype"); }
@font-face { font-style:normal; font-weight:normal; font-family:fnt1; src:url("./ch10_1_fnt1.otf") format("opentype"); }
@font-face { font-style:normal; font-weight:normal; font-family:fnt15; src:url("./ch10_1_fnt15.otf") format("opentype"); }
@font-face { font-style:normal; font-weight:normal; font-family:fnt14; src:url("./ch10_1_fnt14.otf") format("opentype"); }
@font-face { font-style:normal; font-weight:normal; font-family:fnt17; src:url("./ch10_1_fnt17.otf") format("opentype"); }
@font-face { font-style:normal; font-weight:normal; font-family:fnt13; src:url("./ch10_1_fnt13.otf") format("opentype"); }
@font-face { font-style:normal; font-weight:normal; font-family:fnt19; src:url("./ch10_1_fnt19.otf") format("opentype"); }
@font-face { font-style:normal; font-weight:normal; font-family:fnt18; src:url("./ch10_1_fnt18.otf") format("opentype"); }
@font-face { font-style:normal; font-weight:normal; font-family:fnt20; src:url("./ch10_1_fnt20.otf") format("opentype"); }
@font-face { font-style:normal; font-weight:normal; font-family:fnt12; src:url("./ch10_1_fnt12.otf") format("opentype"); }
@font-face { font-style:normal; font-weight:normal; font-family:fnt16; src:url("./ch10_1_fnt16.otf") format("opentype"); }
@font-face { font-style:normal; font-weight:normal; font-family:fnt11; src:url("./ch10_1_fnt11.otf") format("opentype"); }
